.pull-xs-right{
    float :right;
}

.pull-xs-left{
    float :left;
}

.form-block {
    max-width :80%;
    margin-left:auto;
    margin-right:auto;
}

.header-comp{
    padding-top:10px;
    padding-bottom:10px;
}
.nav .active {
    background-color: #eee;
    color:#23527c;
}

@media (max-width: 768px){

    .pull-xs-right{
        float :none;
    }

    .pull-xs-left{
        float :none;
    }
}